---
import Layout from "../layouts/Layout.astro";
import QuestionCard from "../components/MultiChoiceQuestionCard.astro";

import { getCollection, getEntry } from "astro:content";
import type { Code } from "astro:components";

const mcQuestions = await getCollection("multiChoiceQuestions");
const tfQuestions = await getCollection("tfQuestions");
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>
      <span class="text-7xl font-bold">The Veteran Culture Project</span>
    </h1>
    <ul role="list" class="link-card-grid">
      {
        mcQuestions.map((q) => (
          <QuestionCard
            question={q.data.question}
            choices={[
              q.data.choice_a,
              q.data.choice_b,
              q.data.choice_c,
              q.data.choice_d,
            ]}
          />
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
